<body>
  


    <form action="" id="create-class">
        <fieldset>
            <legend>Cadastrar notícia</legend>

            <div class="input-block">
                <label for="title">Título:</label><br>
                <input type="text" id="title" required>
            </div>
            <div class="input-block">
                <label for="body">Insira uma breve descrição:</label><br>
                <input name="body" id="body" type="text" required>
            </div>

            <input class="mybutton" type="submit" value="Enviar">
        </fieldset>
        
    </form>

    <div class="container">
        <div class="top-bar-container">
           <button  routerLink="/" routerLinkActive="active">Voltar</button>
        </div>
    
    </div>
</body>